/build
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/misc.xml
/.idea/vcs.xml
/.idea/deploymentTargetDropDown.xml
/.idea/libraries/Gradle__androidx_activity_activity_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_activity_activity_ktx_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_3_0.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_4_2_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_4_2_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_collection_collection_ktx_1_1_0.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_4_aar.xml
/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_8_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_8_0_aar.xml
/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_5_0.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_5_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_5_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_5_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_5_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_5_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_5_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_5_0_aar.xml
/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_preference_preference_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_preference_preference_ktx_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_ktx_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/.idea/libraries/Gradle__com_firebaseui_firebase_ui_storage_8_0_0_aar.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_11_0.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_11_0.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_11_0_aar.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_11_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_ads_identifier_18_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_base_18_0_1_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_18_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_21_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_api_21_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_base_21_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_impl_21_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_21_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_api_21_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_stats_17_0_2_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_18_0_1_aar.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_6_1_aar.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_5_1.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_9_0.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_21_0_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_ktx_21_0_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_annotations_16_1_0.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_appcheck_interop_16_0_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_auth_interop_19_0_2_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_common_20_1_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_common_ktx_20_1_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_components_17_0_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_database_collection_18_0_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_24_2_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_ktx_24_2_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_installations_17_0_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_installations_interop_17_0_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_19_0_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_storage_20_0_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_storage_ktx_20_0_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_protolite_well_known_types_18_0_0_aar.xml
/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Gradle__com_google_guava_guava_30_1_1_android.xml
/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Gradle__com_google_protobuf_protobuf_javalite_3_19_2.xml
/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
/.idea/libraries/Gradle__com_squareup_okhttp_okhttp_2_7_5.xml
/.idea/libraries/Gradle__com_squareup_okio_okio_1_6_0.xml
/.idea/libraries/Gradle__com_squareup_okio_okio_1_17_5.xml
/.idea/libraries/Gradle__com_tbuonomo_dotsindicator_4_3_aar.xml
/.idea/libraries/Gradle__io_grpc_grpc_android_1_44_1_aar.xml
/.idea/libraries/Gradle__io_grpc_grpc_api_1_44_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_context_1_44_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_core_1_44_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_okhttp_1_44_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_protobuf_lite_1_44_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_stub_1_44_1.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__junit_junit_4_13_2.xml
/.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_5_5.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_6_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_6_21.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_6_21.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_6_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_6_21.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_6_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_6_1.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_6_1.xml
/.idea/modules.xml
